version: "3.9"

services:
  ocr_service:
    build: ./ocr_service
    container_name: ocr_service
    volumes:
      - ./ocr_service:/app
    ports:
      - "3001:3000"
    depends_on:
      - public_api

  text_treatment_service:
    build: ./text_treatment_service
    container_name: text_treatment_service
    volumes:
      - ./text_treatment_service:/app
    ports:
      - "3002:3000"
    depends_on:
      - public_api

  public_api:
    build: ./public_api
    container_name: public_api
    volumes:
      - ./public_api:/app
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
